.gelsva {
  background: lightgoldenrodyellow;
}
.pink { 
  background: #FFDBE9;
}
.lavender {
  background: lavender;
}
.zydra {
  background: lightcyan;
}
.rausva {
  background: #FFCCCB;
}
.zalsva {
  background: #dcfdd7;
}
.grey {
  background: #DEDEDE;
}

.aukstis {
  height: 40px;
}
.aukstisdu {
  height: 100px;
}
.didesne {
  height: 200px;
}
.mazesne {
  height: 150px;
}

